__pycache__
.ipynb_checkpoints
*.tif
*.csv

data/*
!data/*

data/sentinel/*
!data/sentinel/*/
data/sentinel/*/*/
!data/sentinel/*/emptyfileforgit.txt

data/training_data/*
!data/training_data/subset_split_map.png
!data/training_data/emptyfileforgit.txt

data/new_data/*
!data/new_data/emptyfileforgit.txt

data/shapefile/*
#!data/shapefile/*
#data/shapefile/*/*
!data/shapefile/*/emptyfileforgit.txt

data/overallshape/*
!data/overallshape/emptyfileforgit.txt
